/* CSS Layout */


/* Main Background */
.page {
background-color: #ffffb3;
}



/* Header Section */
.main-header {
background: url('image/gambar1.jpg');
height:200px;
}

.main-header ul{  
float:right;
margin-right:80px;
}

.main-header li {
list-style-type: none;
margin-top: 30px;
}

.main-header ul li{ 
display: inline-table; 
position:relative;
text-align:center;
border: 1px solid #B8860B transparent;
padding:10px;
}

.main-header ul li a {
font-family: georgia, serif;
text-decoration: none;
color: #ffffff;
padding: 5px 20px;
transition: 0.3s ease;
}

.main-header ul li a:hover{
background-color: #608E7A;
color: black;
}

.dropdown {
display: none;
	
}

.main-header ul li:hover .dropdown {
display: block;
position: absolute;
}
	
.main-header ul li:hover .dropdown ul {
display: inline;
margin: 10px;
}

.main-header ul li:hover .dropdown ul li {
width: 200px; 
background: transparent;
text-align: left;
padding:2px;
}

.logo {
position:absolute; 
left:80px; 
top:25px
}



/* Main + Sidebar Background */
.container {
background-color: #ffff99;
padding:5px;
}



/* Main Section */
.main {
background: url('image/wallpaper2.jpg');
width:75%;
height:100%;
float:left;
}

h1 {
text-align:center;
font-size:50px;
color:#000099;
font-family: cursive;
}

p {
padding-left:10px; 
text-align:center;
font-family: Georgia, serif;
}
 

.centered {
font-family: serif;  border-collapse: collapse;
border-collapse: collapse;
width: 90%;
background-color: #ffb31a;
margin-left: 40px;
}

.centered td, .centered th {
border: 1px solid #000000;
padding: 8px;
}

.centered tr:nth-child(even){
background-color: #ffb31a;
}

.centered th {
padding-top: 12px;
padding-bottom: 12px;
text-align: center;
color: white;
background-color: #ff6600;
}

.figure {
position: relative;
max-width: 800px;
margin: 0 auto;
}

.figure img {
vertical-align: middle;
margin-top:70px;
}

.figure .content {
position: absolute;
bottom: 0;
background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
color: #f1f1f1;
width: 100%;
padding: 20px;
box-sizing: border-box;
}



/* Sidebar Section */
.sidebar {
background-color: #ffffb3;
width:25%;
height:100%;
float:right;
}

h3 {
padding-left:10px;
text-align:justify;
}

.select {
display: block;
position: relative;
padding-left: 30px;
margin-bottom: 10px;
cursor: pointer;
font-size: 15px;
}

.select input {
position: absolute;
opacity: 0;
cursor: pointer;
}

.checkmark {
position: absolute;
top: 0;
left: 0;
height: 15px;
width: 15px;
background-color: #eee;
border-radius: 20%;
}

.select:hover input ~ .checkmark {
background-color: #ccc;
}

.select input:checked ~ .checkmark {
background-color: #80bfff;
}

.checkmark:after {
position: absolute;
display: none;
}

.select input:checked ~ .checkmark:after {
display: block;
}

.select. checkmark .after{
top: 9px;
left: 9px;
width: 8px;
height: 8px;
border-radius: 50%;
background: white;
}

h4 {
letter-spacing: 5px;
margin-top:100px;
text-align:center;
}

#checkbox {
background-color: white;
width: 180px;
padding: 40px;
margin: 35px;
}

.info {
text-align:center;
width: 200px;
background: #ffe6ff;
transition: width 2s;
margin-left:15px;
height:270px;
}

.info:hover {
width: 310px;
height:270px;
}

 

/* Footer Section */
.main-footer {
background-color:#ffc34d;
clear:both;
text-align:center;
height:135px;
}
